/ProyectoJuego/nbproject/private/
ProyectoJuego/build/built-jar.properties
ProyectoJuego/build/classes/.netbeans_update_resources
ProyectoJuego/build/classes/.netbeans_automatic_build
ProyectoJuego/build/classes/.netbeans_automatic_build
/ProyectoJuego/dist/